# Logs
/logs/
/log/

# Dagster
/configs/dagster/dagster_home/.logs_queue/
/configs/dagster/dagster_home/.nux/
/configs/dagster/dagster_home/.telemetry/
/configs/dagster/dagster_home/logs/

# Data
/data/

# Cache from pipeline
*__pycache__

# Data source
/src/data/pipeline/data

# Feast
*parquet
*db
.ipynb_checkpoints

# Jupyter Notebook
*.ipynb_checkpoints
*.ipython
*.jupyter
*.local
*.npm
*.bash_history
*testing_model_artifacts
*.pkl
*.feast
*.cache
*.csv

# Jenkins
agent*
*nohup.out
*remoting
secret-file
workspace

# Model_serving
*mlruns

# Ignore all log files in the minikube directory
minikube/*.log
minikube/prometheus-port-forward.log
minikube/grafana-port-forward.log
minikube/api-model-port-forward.log

