# Logs
/logs/

# Dagster
/configs/dagster/dagster_home/.logs_queue/
/configs/dagster/dagster_home/.nux/
/configs/dagster/dagster_home/.telemetry/
/configs/dagster/dagster_home/logs/

# Data
/data/

# Cache from pipeline
*__pycache__

# Data source
/src/data/pipeline/data

# Feast
*parquet
*db
.ipynb_checkpoints

# Jupyter Notebook
*.ipynb_checkpoints
*.ipython
*.jupyter
*.local
*.npm
*.bash_history
*testing_model_artifacts
*.pkl
*.feast
*.cache
*.csv

# Jenkins
agent*
*nohup.out
*remoting
secret-file
workspace